<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container yellow-container">
        <div class="bg-yellow-100 w-200rem m-3 border-round">
            <p-card header="Liste des personnes">
                <div class="flex justify-content-end">
                    <app-personne-form (personneEvent)="sendToParent($event)"></app-personne-form>
                </div>
                
                <p class="m-0 mt-3">
                    <p-table [value]="personnes" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:25%">Nom</th>
                                <th style="width:25%">Prenoms</th>
                                <th style="width:25%">Age</th>
                                <th style="width:25%">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-personne>
                            <tr>
                                <td>{{ personne.nom }}</td>
                                <td>{{ personne.prenoms }}</td>
                                <td>{{ personne.age }}</td>
                                <td>
                                    <p-button icon="pi pi-user-edit" styleClass="p-button-warning" class="rigth-50"></p-button>
                                    &nbsp;
                                    <p-button icon="pi pi-trash" styleClass="p-button-danger"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-table>
                </p>
            </p-card>
        </div>
    </div>
</div>

